/* --------------------------------------------------------------------------
   Font file import
   -------------------------------------------------------------------------- */

   @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
   @font-face {
     font-family: 'frutiger-black';
     src: font-url('/fonts/Frutiger-Black');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
    font-family: 'frutiger-black-cn';
    src: font-url('/fonts/Frutiger-BlackCn');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-black-italic';
    src: font-url('/fonts/Frutiger-BlackItalic');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-bold';
    src: font-url('/fonts/Frutiger-Bold');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'frutiger-bold-cn';
    src: font-url('/fonts/Frutiger-BoldCn');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-bold-italic';
    src: font-url('/fonts/Frutiger-BoldItalic');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-cn';
    src: font-url('/fonts/Frutiger-Cn');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'frutiger-extra-black-cn';
    src: font-url('/fonts/Frutiger-ExtraBlackCn');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-extra-black-cn';
    src: font-url('/fonts/Frutiger-ExtraBlackCn');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-italic';
    src: font-url('/fonts/Italic');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-light';
    src: font-url('/fonts/Frutiger-Light');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-light-cn';
    src: font-url('/fonts/Frutiger-ExtraLightCn');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-extra-light-italic';
    src: font-url('/fonts/Frutiger-LightItalic');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger';
    src: font-url('/fonts/Frutiger-Roman');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'frutiger-ultra-black';
    src: font-url('/fonts/Frutiger-UltraBlack');
    font-weight: normal;
    font-style: normal;
  }
  
   
   
   